#top-menu {
    height: 69px;
    background-color: white;
}

#logo-content-top-menu {
    width: 265px;
    background-color: #626263;
}

#logo-top-menu {
    width: 177px;
    height: 31px;
}

#top-menu-bar {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.top-menu-button {
    width: 40px;
    height: 40px;
    border: 1px solid #DADADA;
    cursor: pointer;
}

.top-menu-button-icon > i {
    color: #C0C0C0;
}

.top-navigation-button {
    cursor: pointer;
}

    .top-navigation-button:hover {
        background-color: #EEEEEE;
    }

    .top-navigation-button > a {
        text-decoration: none;
    }

.top-navigation-button-selected {
    cursor: pointer;
    background-color: #EEEEEE;
}

    .top-navigation-button-selected > a {
        text-decoration: none;
    }