.custom-control-label::before,
.custom-control-label::after {
    top: auto;
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 12px
}

.custom-control-label {
    position: relative;
}

.divStyle {
    width: 83%
}

.divStyle2 {
    width: 75%
}

.table {
    background-color: #eeeeee; 
}

.progress {
    background-color: #ffffff;
    border-radius: .45rem
}

.cardEf {
    background-color: #eeeeee;
    border-radius: .45rem;
    margin-bottom: .45rem;
    margin-right: 3rem;
}

.text-color-purple {
    color: #7C4DFF !important;
}