.card.shadow{
    width:364px;
}
.btn.btn-login.text-white {
    background-color: #33B082;
    border-radius: 4px;
    width: 100%;
}
#logo-prefeitura-login {
    width: 127px;
}
#logo-login {
    width: 234px;
}
.text-danger.text-login {
    text-align: right;
    font-size: 11px;
}
::-webkit-input-placeholder {
    color: #929494;
    font-size: 12px;
}
::-moz-placeholder {
    color: #929494;
    font-size: 12px;
}

:-ms-input-placeholder {
    color: #929494;
    font-size: 12px;
}
::placeholder {
    color: #929494;
    font-size: 12px;
}