body {
  font-family: "Roboto", sans-serif;
}

.clickable {
  cursor: pointer;
}

.sc-darkblue-button {
  background-color: #086397;
  border-color: #086397;
}

.sc-darkblue-outline-button {
  border-color: #086397;
  color: #086397;
}

.sc-blue {
  background-color: #1e90ff;
}

.sc-darkblue {
  background-color: #0077be;
}

.sc-gray {
  background-color: #eeeeee;
}

.sc-darkgray {
  background-color: #adadae;
}

.sc-lightpurple {
  background-color: #9c96f6;
}

.sc-text-blue {
  color: #1e90ff;
}

.sc-text-orange {
  color: #ff8c00;
}

.sc-text-purple {
  color: #7c4dff;
}

.sc-text-size-000 {
  font-size: 9px;
}

.sc-text-size-00 {
  font-size: 10px;
}

.sc-text-size-0 {
  font-size: 12px;
}

.sc-text-size-1 {
  font-size: 14px;
}

.sc-text-size-2 {
  font-size: 16px;
}

.sc-text-size-4 {
  font-size: 24px;
}
